// === FONTS ===
$text-font: 'PT Sans', sans-serif;
$headline-font: 'Overlock SC', sans-serif;

// === COLORS ==
$primary-color: #5CACEE;
$secondary-color: #42647F;
$orange-color: #E0A025;
$gold-color: #F4D00C;
$white: #FFFFFF;
$gray-text: #777777;
$dark-gray: #333333;
$nav-link-hover: #AAAAAA;

// === LAYOUT ===
$section-padding: 50px 0;

// === OTHER ===
$btn-shadow: 0 1px 2px 0 #000;
