@import 'variables';

body {
  font-family: "Raleway";
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "ABeeZee";
}

.navbar {
  font-family: "ABeeZee";
  border-bottom: 0px;
  @media(min-width:767px) {
    background-color: rgba(255, 255, 255, 0.0);
  }
  @media(max-width:766px) {
    background-color: #FFF;
  }
  .navbar-brand {
    @media(max-width:766px) {
      font-size: 18px;
      margin-top: 3px;
      color: $primary-color;
      &:hover {
        color: $secondary-color;
      }
    }
    @media(min-width:767px) {
      color: #FFF;
      &:hover {
        color: #AAA;
      }
    }
  }
}

.white-font {
  color: #FFF;
}

.gray-font {
  color: #333;
}

.nav-links {
  font-size: 18px;

  @media(max-width: 766px) {
    font-size: 16px;
  }
}

.navbar {
  @media(min-width:767px) {
    padding: 20px 0;
    -webkit-transition: background .35s ease-in-out, padding .35s ease-in-out;
    -moz-transition: background .35s ease-in-out, padding .35s ease-in-out;
    transition: background .35s ease-in-out, padding .35s ease-in-out;
  }
}

.navbar-brand{
  font-size: 28px;
  font-weight:bolder;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.nav .navbar-nav {
  li {
    a {
      @media(min-width:767px) {
        font-size: 30px;
        color: #777;
        -webkit-transition: color .35 ease-in-out;
        -moz-transition: color .35 ease-in-out;
        transition: color .35 ease-in-out;
      }
    }
  }
}

.top-nav-collapse {
  border-bottom: 1px solid #CCC;

  @media(min-width:767px) {
    padding: 0;
  }
  background-color: #FFF;
  #brand {
    color: $primary-color;
    &:hover {
      color: $secondary-color;
    }
  }
  #links {
    ul {
      li {
        a {
          color: $primary-color;
          &:hover {
            color: $secondary-color;
          }
          @media(min-width:767px) {
            font-size: 14px;
          }
        }
      }
      li.active {
        a {
          color: $secondary-color;
        }
      }
    }
  }
}

#links {
  li.active {
    a, a:focus, a:hover {
      background-color: white;
      padding: 8px 13px 9px;
      border: 2px solid $secondary-color;
      border-radius: 1px;
      @media(min-width:767px) {
        margin-top: 5px;
        box-shadow: 1px 1px 4px -2px black;
      }
    }
  }
  li {
    a {
      @media(min-width:767px) {
        color: #FFF;
        &:hover {
          color: #AAA;
        }
      }
      @media(max-width:766px) {
        color: $primary-color;
        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}

// .navbar-default .navbar-nav > li > a {
//   font-size: 18px;
// }

.name-small {
  @media(min-width:767px) {
    font-size:20px;
    font-weight:normal;
  }
}

/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children
of those sections to manage the look and feel of the site. */

header {
  position: relative;
  height: 700px;
  text-align: center;
  background-image: url("../images/background/background4.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: #AAA;
}

.navbar-collapse {
  -webkit-transition: height .35 ease-in-out;
  -moz-transition: height .35 ease-in-out;
  transition: height .35 ease-in-out;

}

.header-content {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0 50px;
}

.inner-header-content {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  hr {
    color: #FFF;
    background-color: #FFF;
    height: 5px;
    width: 100px;
  }
  p {
    font-size: 1.25em;
    font-weight: 200;
    color: #FFF;
    text-align: center;
  }
  .fa-square {
    font-size: xx-small;
    vertical-align: middle;
  }
}

.resume-section {
    height: 500px;
    padding-top: 50px;
    text-align: center;
    background: #eee;
}

.about-section {
    padding: 50px 0px;
    text-align: center;
    background: #FFF;
}

.portfolio-section {
  padding: 50px 0px;
  text-align: center;
  background-color: $primary-color;
  color: #FFF;
  hr {
    border-color: #FFF;
    background-color: #FFF;
    height: 5px;
    width: 100px;
  }
  h1 {
    color: #FFF;
  }
}

.contact-section {
    height: 800px;
    padding-top: 50px;
    text-align: center;
    background: #fff;
}

.img-circle {
  width: 35%;
  min-width: 200px;
}

.fa-code {
  color: $primary-color;
  height: 67px;
}

.category-inner {
  max-width: 400px;
  margin: 40px auto;
}

.category-text {
  color: #777;
  font-size: 1.2em;
  margin-top: 15px;
  min-height: 138px;
}

.portfolio-description {
  margin: 25px auto;
  font-size: 1.2em;
  max-width: 900px;
  @media(min-width: 1200px) {
    height: 210px;
  }
}

.portfolio-img {
  margin: 0 auto;
}

.svg-images {
  width: 60px;
  margin-bottom: 7px;
}

.headline {
  color: $primary-color;
}

.headline-text {
  color: #777;
  font-size: 1.25em;
}

.project-outer {
  margin: 40px 0;
}

.project-btn {
  background-color: #FFF;
  color: $primary-color;
  border-radius: 15px;
  box-shadow: 0px 1px 2px 0px #000;
  font-size: 1.2em;
  position: relative;
  letter-spacing: 1px;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;

  -webkit-transition: color .35s ease-in-out;
  -moz-transition: color .35s ease-in-out;
  transition: color .35s ease-in-out;


  &:focus {
    outline: none;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $secondary-color;
    transform: scaleX(0);
    transform-origin: 0 50%;
    -webkit-transition: transform .35s ease-in-out;
    -moz-transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
    z-index: -1;
  }

  &:hover {
    color: #FFF;
    background-color: #FFF;

    &:before {
      transform: scaleX(1);
      transition-timing-function: ease-out;
    }
  }
}


.portfolio-box {
  position: relative;
  max-width: 900px;
  margin: 0 auto;

}

.portfolio-cover {
  color: white;
  opacity: 0;
  display: block;
  background: rgba(0,0,0,.7);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.caption-content, .caption {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

section hr {
  border-color: $primary-color;
  background-color: $primary-color;
  height: 5px;
  width: 100px;
}

body.modal-open {
    overflow: auto
}

body.modal-open[style] {
    padding-right: 0px !important
}

.modal::-webkit-scrollbar {
    width: 0 !important
}

.modal-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: auto
}

.modal-content {
    margin: 0 auto;
    display: inline-block;
    align-self: center
}

.modal-body {
    position: relative;
    overflow: hidden;
    padding: 0px;
    margin: 0px
}

.modal-img {
    max-width: 90vw;
    max-height: 90vh;
}

.has-modal {
  cursor: pointer;
}
