@import 'variables';

.navbar {
  font-family: "ABeeZee";
  border-bottom: 0px;
  @media(min-width:767px) {
    background-color: rgba(255, 255, 255, 0.0);
  }
  .navbar-brand {
    &:hover {
      color: #DDD;
    }
    @media(min-width:767px) {
      color: #FFF;
    }
  }
}

.white-font {
  color: #FFF;
}

.gray-font {
  color: #333;
}

.nav-links {
  font-size: 18px;

  @media(max-width: 766px) {
    font-size: 16px;
  }
}

.navbar {
  @media(min-width:767px) {
    padding: 20px 0;
    -webkit-transition: background .35s ease-in-out, padding .35s ease-in-out;
    -moz-transition: background .35s ease-in-out, padding .35s ease-in-out;
    transition: background .35s ease-in-out, padding .35s ease-in-out;
  }
}

.navbar-brand{
  @media(min-width:767px) {
    font-size: 28px;
    font-weight:bolder;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
  }
}

.nav .navbar-nav {
  li {
    a {
      @media(min-width:767px) {
        font-size: 30px;
        color: #777;
        -webkit-transition: color .35 ease-in-out;
        -moz-transition: color .35 ease-in-out;
        transition: color .35 ease-in-out;
      }
    }
  }
}

.top-nav-collapse {
  border-bottom: 1px solid #CCC;

  @media(min-width:767px) {
    padding: 0;
  }
  background-color: #FFF;
  #brand {
    color: #5CACEE;
    &:hover {
      color: #42647F;
    }
  }
  #links {
    ul {
      li {
        a {
          color: #5CACEE;
          &:hover {
            color: #42647F
          }
          @media(min-width:767px) {
            font-size: 14px;
          }
        }
      }
      li.active {
        a {
          color: #42647F;
        }
      }
    }
  }
}

#links {
  li.active {
    a, a:focus, a:hover {
      background-color: white;
      padding: 8px 13px 9px;
      border: 2px solid blue;
      border-radius: 1px;
      @media(min-width:767px) {
        margin-top: 5px;
        box-shadow: 1px 1px 4px -2px black;
      }
    }
  }
  li {
    a {
      @media(min-width:767px) {
        color: #FFF;
        &:hover {
          color: #DDD;
        }
      }
    }
  }
}

// .navbar-default .navbar-nav > li > a {
//   font-size: 18px;
// }

.name-small {
  @media(min-width:767px) {
    font-size:20px;
    font-weight:normal;
  }
}

/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children
of those sections to manage the look and feel of the site. */

header {
  position: relative;
  height: 700px;
  text-align: center;
  background-image: url("../images/background4.jpg");
  background-size: cover;
  background-position: center center;
  color: #AAA;
}

.navbar-collapse {
  -webkit-transition: height .35 ease-in-out;
  -moz-transition: height .35 ease-in-out;
  transition: height .35 ease-in-out;

}

.header-content {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0 50px;
}

.inner-header-content {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  hr {
    color: #FFF;
    background-color: #FFF;
    height: 5px;
    width: 100px;
  }
  p {
    font-size: 1.25em;
    color: #FFF;
  }
}

.resume-section {
    height: 500px;
    padding-top: 50px;
    text-align: center;
    background: #eee;
}

.about-section {
    height: 500px;
    padding-top: 50px;
    text-align: center;
    background: #eee;
}

.portfolio-section {
    height: 500px;
    padding-top: 50px;
    text-align: center;
    background: #fff;
}

.contact-section {
    height: 800px;
    padding-top: 50px;
    text-align: center;
    background: #fff;
}

.img-circle {
  width: 35%;
}
